@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Autour+One&display=swap');
/* font-family: 'Asul', sans-serif;
font-family: 'Autour One', cursive; */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Asul', sans-serif;

}
.nevi{
    background: #82BBB7;
    position: fixed;
    top: 0;
    z-index: 10000000;
    width: 100%;
}
.product-real{
    padding: 20px 0px 20px 0px;
}
.smalllogo{
    width: 100%;
    margin:120px 0px 20px 0px;
    padding: 15px 0px;
    background: #82BBB7;
}
.smalllogo h1 {
    font-size: 19px;
    font-family: 'Autour One', cursive; 
   
}
.card{
    border: 1px solid #82BBB7 !important;
    padding: 4px 4px !important;
    border-radius: 8px !important;
}
.card .img-box{

    height: 249px;
    width: 100%;

}
.card .img-box img{
    border-radius: 6px;
   
    height: 100%;
    width: 100%;
}
.title-product span{
    color: #82BBB7;
    font-size: 10px;
    display:block;
    padding-bottom: 5px !important;
}
.title-product h1{
    font-size: 19px;
    margin: 0 !important;
}
.title-product h5{
    font-size: 14px;
    margin: 5px 0px 0px 0px  !important;
}
.price{
    border: 1px solid #82BBB7;
    display: inline-block;
    padding: 3px;
    letter-spacing: 1px;
    margin-bottom: 5px !important;
}
.price h5{
    margin: 0 !important;
    
}
.price span{
    display: inline;
    font-size: 14px;
    font-weight: bolder;
}
.row {
    --bs-gutter-x: 0.5rem !important;
   
}
.smalllogo h1{
    color:#fff;
}
.product-real{
    position:relative;
}
.under-line{
    position: absolute;   
    top: 67px;
    left: 13px;    
}
.process{
    position:relative;
}
.poster{
    height: 105px; 
    width: 100%;

}
.offer-image{
    background: url("img/Group\ 93.svg");
    height: 150px; 
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    width: 100%; 
    
}
.process{
    position: relative;
}
.title-icon2{
    position: absolute;
    top: 20px;
    left: 10px;
}
.offer-image2{
    background: url("img/Group\ 94.svg");
    height: 334px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.footter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background: #82BBB7;
    position: fixed;
    bottom: 0;
    z-index: 50000;
}
.contect span{
margin:0 !important;
    font-size:11px;
}


