@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Autour+One&display=swap');
/* font-family: 'Asul', sans-serif;
font-family: 'Autour One', cursive; */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Asul', sans-serif;

}
.nevi{
    background: #82BBB7;
    position: fixed;
    top: 0;
    z-index: 10000000;
    width: 100%;
}
.product-real{
    padding: 40px 0px 20px 0px;
}
.small2{
    padding: 60px 0px 0px 0px ;
}
.small{
    width: 100%;
    padding: 15px 0px;
    background: #82BBB7;
    
}
.small h1 {
    font-size: 19px;
    font-family: 'Autour One', cursive; 
    color: #fff !important;
   
}
.card{
    border: 1px solid #82BBB7 !important;
    padding: 7px 7px !important;
    border-radius: 8px !important;
}
.card .img-box{      
    width: 100%;
}
.card .img-box img{
    border-radius: 6px;
   object-fit: cover;
    height: 100%;
    width: 100%;
}
.title-product span{
    color: #82BBB7;
    font-size: 10px;
    display:block;
    padding-bottom: 5px !important;
}
.title-product h1{
    font-size: 19px;
    margin: 0 !important;
}
.title-product h5{
    font-size: 14px;
    margin: 5px 0px 0px 0px  !important;
}
.price{
    border: 1px solid #82BBB7;
    display: inline-block;
    padding: 3px;
    letter-spacing: 1px;
    margin-bottom: 5px !important;
}
.price h5{
    margin: 0 !important;
    
}
.price span{
    display: inline;
    font-size: 14px;
    font-weight: bolder;
}
.row {
    --bs-gutter-x: 0.5rem !important;
   
}
.smalllogo h1{
    color:#fff;
}
.product-real{
    position:relative;
}
.under-line{
    position: absolute;   
    top: 67px;
    left: 13px;    
}
.process{
    position:relative;
}
.poster{
    height: 105px; 
    width: 100%;

}
.offer-image{
    background: url("img/Group\ 93.svg");
    height: 115px; 
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    width: 100%; 
    
}
.process{
    position: relative;
}
.title-icon2{
    position: absolute;
    top: 20px;
    left: 10px;
}
.offer-image2{
    background: url("img/Group\ 94.svg");
    height: 334px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.footter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background: #82BBB7;
    position: fixed;
    bottom: 0;
    z-index: 50000;
    color: #fff;
}
.footter h6{
    font-size: 12px;
}
.last .mb-5{
    margin-bottom: 4rem!important;

}




.loader{
  height: 100vh; 
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9000000000;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

.loading {
  display: flex;
  justify-content: space-between;
  width: 200px;
  height: 200px;
}

.loading-bar {
  display: flex;
  align-items: flex-end;
  width: 50px;
  height: 100%;
  background-color: #dadada;
  box-shadow: inset 0 0 4px #c5c5c5;
  border-radius: 8px;
  transform: translateZ(0);
  overflow: hidden;
}
.loading-bar:before {
  content: "";
  width: 100%;
  height: 30%;
  background: linear-gradient(#3488c0, #235b80);
  -webkit-animation: loading 1.8s infinite;
          animation: loading 1.8s infinite;
}
.loading-bar:nth-child(2):before {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.loading-bar:nth-child(3):before {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes loading {
  0% {
    height: 30%;
  }
  40%, 70% {
    height: 100%;
  }
  100% {
    height: 30%;
  }
}

@keyframes loading {
  0% {
    height: 30%;
  }
  40%, 70% {
    height: 100%;
  }
  100% {
    height: 30%;
  }
}


